@media screen and (max-width:1500px) {
	 .container-2 {
    	display: block;
    }
    
    .conteiner-mobile {
    	display: none;
    }
    .reglamento-desktop{
        display:block;
    }
    .reglamento-mobile {
        display:none;
    }
    .checkbox{
        display: inline-block;
        position: relative;
        top: 0px;
        padding: 0px 60px;
        height: 20px
    }
    
}


@media screen and (max-width:1200px) {
    .item-two, .item-three {

        width: 200px;
    }


    .item-two form {

    left: 12px; 

    }
    .item-two button {

    left:12px;

    }

    .item-three input {

    width:160px;
    }
    .item-three select {

    width:160px;
    }
    .item-three button {

        left:6px;
    }

    .ion-android-checkbox-outline {


    padding:68px;

    }
    .item-three {
        position:relative;
        right:50px;
    }
    
    .container-2 {
    	display: block;
    }
    
    .conteiner-mobile {
    	display: none;
    }
    .col-lg-6 iframe {
        width:100%;
        height:250px;
    }
    .cuadrado-prueba {
        position:relative;
        top: -35px;
        margin: auto;
    }
    .row .col-lg-6 h2 {
        display:block;
        text-align:center;
        padding-bottom:20px;
    }

} 

@media screen and (max-width:991px){

    .img-logo {
        position: relative;
        left: 140%;
    }
    .navbar-right{
  
        margin-right:30px;
    }

    .item-one {
        width: 670px;
        height: 300px;
        float: none;
        margin-right: 0px;
        left: 35px;
    }
    .item-one h1, .item-one h2, .item-one p {
        top:0px;
    }

    .item-two{
        width: 330px;
        margin-top: 20px;
        left: 35px;
        text-align: center;
    }
    .item-three {
        width: 330px;
        margin-top:20px;
        left:-15px;
        text-align:center;
    }
    .section-locations{
        display:none;
    }
    .section-form{
        float: none;
        position: relative;
        margin: auto;
    }
    .box-logo {
        top:15px;
    }
    .box-social .container .social ul li {
        padding:20px;
        font-size: 35px;
        position: relative;
        top: 10px;
    }
    .box-social .container p {
        top:0px;
    }
    .social {
        padding-left: 0px;

    }
    .box-entrenamiento img {
        position:relative;
        left:80px;
    }
    .box-arbitro img {
        position:relative;
        left:40%;
    }
    .box-datos {
        width: 255px;
        float: none;
        left: 45px;
        position: relative;
    }
    .arbitro .box-arbitro button,.box-actividades .container .box-entrenamiento button {
        left:115px;
    }
    .box-datos h3,.box-datos ul {
        text-align:center;
    }
    .box-datos ul {
        padding-bottom:30px;
    }
    .item-three input, .item-three select,.item-two select {
        width:210px;
        margin-left:0px;
    }
    .item-three button, .item-two button {

        left: 4px;
        padding: 7px 30px;
    }
    .item-two form {
        left:0px;
    }
    .read,.inscription {
        top:75px;
    }
    h1 {
        font-size:48px;
    }
    /* seccion torneos.php */

    .menu-torneos {
        width:700px;
    }
    .menu-torneos ul li button {
        width: 100%;
        margin-top:0px;
        padding:20px 0px;

    }
    .torneo {
        width:700px;
    }
    .torneo-izq .torneo select {
        left:280px;
    }
    .torneo-izq {
        left:25px;
        position:relative;
    }

    
    .container-2 {
    	display:none;
    }
    
    .conteiner-mobile {
    	display: block;

    }
    .box-social-foot .container .social ul li {
        padding:17px;
    }

    /*seccion noticias mobile */

    .conteiner-mobile h2 {
        font-size:25px;
        text-align:center;
    }

    .ion-clipboard,.ion-ios-people,.ion-android-calendar,.ion-podium,.ion-ribbon-a,.ion-trophy,.ion-ios-browsers-outline {
        font-size: 30px;
        position: relative;
        top: 52px;
        left: 40px;
    }

    .conteiner-mobile h4 {
        font-size: 16px;
        display: inline-block;
        position: relative;
        left: 40px;
        color:#ff3c5e;
    }

    .conteiner-mobile p{

        font-size: 14px;
        left: 0px;
        position: relative;
        margin: 20px 0px;
        padding:0px 20px;

    }
    .list_jugadoras {
        width: 165px;
        display: inline-block;
        position: relative;
        left: 22px;
        margin-top:30px;
    }
    .list_jugadoras h4 {
        left:0px;
    }
    .section-torneos {
        width:100%;
    }

    .row {
        margin-left:0;
        margin-right:0;
    }
    .modal-header .close {
     display:none;
    }

    .item-reservas {
    width: 100%;
    top: 0px;
    }
    .check {
        width:100%;
    }
    .check, .ion-android-checkbox-outline {
        text-align:center;
        top:-20px;
    }
    .item-reservas select, .item-reservas input {
        display:block;
        margin:auto;
        top: -20px;
        margin-bottom: 5px;
    }
    .item-reservas p {
        top:0px;
    }
    .item-reservas button {
        top:-22px;
        position: relative;
        display: block;
        margin: auto; 
    }
    .section-torneos h3 {
        text-align:center;
    }
    .texto-horarios {
        top:0px;
    }
    .conteiner-mobile p {
        padding:0px 70px;
    }
    .texto-reservas {
        top:15px;
        padding-bottom:50px;
    }
    .conteiner-mobile h3{
        text-align:center;
    }
    .fechaLibre{
        display:block;
        text-align:center;
    }
    .observaciones textarea {
        top:-75px;
        position:relative;
    }
}

@media screen and (max-width:900px){


    .contact-1 , .contact-2 {
        display:block;
        text-align:center;

    }
    .contact-1{
        left:25px;
        position:relative;
    }
    .contact-2 {
        padding-bottom:30px;
    }
    footer .contact {
        display:block;
        float:left;
    }


.box-social-foot .container .social  {


    padding:0px;
    float:right;
}
.box-social-foot .container .social ul li {


    padding:22px;
}
.box-social-foot .container .social ul {


    padding:5px;
}


.footer-img {
    float:none;
    position:relative;
    text-align:center;
    padding-bottom:20px;
}
.modal-header .close {
    display:none;
    }

}

@media screen and (max-width:767px){

    .img-logo {

        left: 0%;
        display:inline-block;
    }
    .item-two,.item-three {
        width:270px;
        left:0px;
    }
    .item-one{
        width: 100%;
        left:0px;
    }

    .item-one h1, .item-one h2, .item-one p {
        display:block;
        left:0px;
        padding:5px 10px;
        top:0px;
    }
    .box-social .container p {
        display:none;
    }
    .arbitro {
    position: relative;
    left: -52px;
    }
    .entrenamiento {
    position: relative;
    left: -31px;
    }
    .section-form2 {
     width:100%;
     margin-bottom:20px;
    }
    .box-form-2 textarea {
        top:0px;
        right: 0px;
        width:100%;
        float:none;
    }
    .box-form-2 form input {
        width: 100%;
        border-radius: 0px;
        margin: 10px 0px;
    }
    .box-form-2 .enviar {
        left:auto;
    }

    /* */
    .menu-torneos {
        width:500px;
    }
    .menu-torneos ul li button {
        width: 100%;
        margin-top:0px;
        padding:20px 0px;

    }
    .torneo {
        width:500px;
    }
    .torneo-izq .torneo select {
        left:160px;
    }
    .torneo-izq {
        left:50px;
        position:relative;
    }
    .conteiner-mobile p{
        left:0px;
        width:100%;
        padding:0px 20px;

    }
    .modal-header .close {
        display:none;
    }
    .item-three button {
        top:45px;
    }
    .item-two button {
        top:14px;
    }
    .read, .inscription {
        top:0px;
    }
    .conteiner-mobile p {
        padding:0px 70px;
    }
    .col-lg-12 {
        padding-right:0px;
        padding-left:0px;
    }

}
@media screen and (max-width:600px) {

    .section-locations {
        display:none;
    }
    .box-actividades {
        display:none;
    }

    .box-social .container .social ul li {

    font-size: 50px;
    padding:18px;


    }
    .box-logo {
        display:none;
    }

    .social {

    width: 100%;
    text-align: center;
    }
    .box-social .container p {

    display:block;
    top:10px;
    text-align:center;
    }
    .box-social {

    background-color:#00bb77;

}
    .box-social ul {

    padding-left: 20px
    }

    nav img {

        max-width:195px;
        height:auto;
        padding:10px;
    }

    .item-one {

    width:100%;
    left: 0px;

    }

    .item-one h1, .item-one h2, .item-one p {

        color: #FFF;
        top:0px;
        left:0px;
        padding:10px;

    }

    .read, .inscription {

        top:0px;
        left:10px;

    }

    .item-two {

        width:100%;
        margin-top:20px;
        left:0px;
    }

    .item-two select, .item-two button, .item-three select, .item-three button, .item-three input {

        width: 220px;
        display: block;
        margin: auto;
        margin-top: 5px;
        border-radius: 4px;
    }
    .item-three button {
        left:0px;
        top:45px;
    }

    .item-two form, .item-two button  {

    left:0px;
    }
    .item-two button {
        top:12px;
    }


    .item-three {

    width:100%;
    margin-top:20px;
    position:relative;
    left:0;
    }

    .check,.foot-ball {

    text-align:center;
    }

    .section-form {

    width:100%;
    padding-bottom:40px;
    }

    .box-form textarea, .box-form-2 textarea {
    top: 0;
    width: 100%;
    right: 0;
    border-radius: 0px;

    }
    .box-form .enviar, .box-form-2 .enviar {
    left:0px;
    width:100%;
    padding:15px 0;
    margin:20px 0;

    }
    .box-form form input, .box-form-2 form input {

        width:100%;
        padding: 8px;
        border-radius: 0px;
        margin:10px 0px;

    }

    h1 {
        font-size:35px;
    }

    .menu-torneos {
        width:100%;
    }
    .menu-torneos ul li button {
        width: 100%;
        margin-top:0px;
        padding:20px 0px;

    }
    .torneo {
        width:100%;

    }
    .torneo-izq .torneo select {
        left:0px;
    }
    .select-cat {
        display: block;
        text-align:center;
    }

    .torneo-izq {
        left:0px;
    }
    .container {
        padding:0;
    }
    .torneo-izq {
        padding-top:0px;
        width:100%;
    }
    .cuadrado-prueba {
        display:none;
    }
    .col-lg-6 {
        padding-bottom:20px;
    }
    .row .col-lg-6 h2 {
        padding-top:0px;
    }
    .navbar-default .navbar-toggle {
        right:18px;
    }
    body {
    overflow-x: hidden;
    }

    footer .contact {
        width:100%;
        padding-top:0px;
        float:none;
    }
    .contact-1 {
        left:0px;
    }

    .conteiner-mobile p{
        width:100%;
        left:0px;
        padding:0px 10px;

    }
    .ion-clipboard,.ion-ios-people,.ion-android-calendar,.ion-podium,.ion-ribbon-a,.ion-trophy,.ion-ios-browsers-outline {
        position: relative;
        display:block;
        top: 10px;
        left: 0px;
        text-align:center;
    }
        span .ion-ios-people {
        top:0px;
        left:0px;
    }
        .modal-header .close {
        display:none;
    }
    .conteiner-mobile p {
        padding:0px 70px;
    }
    .list-check {
        text-align:center;
    }
    .ion-ios-location, .ion-calendar, .ion-android-time, .ion-checkmark, .ion-ios-people, .ion-ios-football, .ion-ios-people-outline{
        font-size:22px;
    }
    .reglamento-desktop{
        display:none;
    }
    .reglamento-mobile {
        display:block;
    }

}


@media screen and (max-width:359px) {

    .item-one h1 {

    font-size:24px;
    padding:10px;
    }
    .item-one h2 {

    font-size:22px;
    padding:0px 10px;

    }
    .item-one p {

    font-size:14px;
    left:0px;
    padding:0px 10px;

    }
    .read, .inscription {

    display:block;
    margin-top:5px;
    width:200px;
    top:0px;
    left:22px;

    }

    .read {
    background-color:#fa3e5f;
    }

    .item-two select, .item-two button {

    width: 220px;
    }
    .box-social .container .social ul li {
    font-size: 28px;
    padding: 18px 15px;
    }

    .list_jugadoras {
        left:60px;
    }
    .table {
    font-size: 15px;
}
    .modal-header .close {
        display:none;
    }
    .observaciones textarea{
        width: 250px;
    }
    .list-check {
        text-align:center;
    }
}
