<div class="torneo-izq" id="torneo-izq">
	<div class="torneo" style="background-color: {{ torneo.rgb }}">
		<div class="img-torneo">
			<img src="logos/{{torneo.logoPrincipal}}" width="85px" height="85px">
		</div>
		<div>
			<h4>{{ torneo.nombre }}</h4>
		</div>
		<div>		
			<select name="categorias" id="categorias" style="text-align-last: center;">
				{% if idTorneoCat == 0 %}
					<option value="{{ idTorneoCat }}" selected="selected">- Categoria -</option> 
				{% endif %}
				{% for categoria in categorias %}
					{% if categoria.id == idTorneoCat %}
						<option value="{{ categoria.id }}" selected="selected">{{ categoria.nombre }}</option> 
					{% else %}
						<option value="{{ categoria.id }}">{{ categoria.nombre }}</option> 
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="menu-torneos" id="menu">
		<ul>
			<li><button id="noticias" name="noticias">Noticias</button></li>
			<li><button id="equipos" name="equipos">Equipos</button></li>
			<li><button>Fixture</button></li>
			<li><button id="resultados" name="resultados">Resultados</button></li>
			<li><button id="goleadoras" name="goleadoras">Goleadoras</button></li>
			<li><button id="posiciones" name="posiciones">Posiciones</button></li>
			<li><button id="tarjetas" name="tarjetas">Tarjetas</button></li>
			<li><button>Reservas</button></li>
		</ul>
	</div>
</div>

<div class="container-2" id="container-2">
</div>

<style>
	.menu-torneos ul li button:hover {
		background-color: {{ torneo.rgb }};
	}
	
	.table tr:hover{
    	background-color: {{ torneo.rgb }};
   		color:#FFF;
	}
</style>

<script>

$(document).ready(function() {
	var torneo = $("#torneo").val();
	var idTorneoCat = $("#idTorneoCat").val();
	var nombreCategoria = $("#nombreCat").val();
	if (idTorneoCat != 0) {
		var redirec = "noticias.php";
		$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria});
	} else {
		var redirec = "dafault.php";
		$("#container-2").load(redirec, {torneo: torneo});
	}
});

$("#categorias").change(function() {
	$("#categorias option:selected").each(function() {
		var idTorneoCat = $("#categorias option:selected").val();
		var nombreCategoria = $("#categorias option:selected").text();
		var torneo = $("#torneo").val();

		$("#idTorneoCat").val(idTorneoCat);
		$("#nombreCat").val(nombreCategoria);
		
		if (idTorneoCat != 0) {
			var redirec = "noticias.php";
			$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria});
		} else {
			var redirec = "dafault.php";
			$("#container-2").load(redirec, {torneo: torneo});
		}
	});
});


$("#noticias").click(function() {
	var torneo = $("#torneo").val();
	var idTorneoCat = $("#idTorneoCat").val();
	var nombreCategoria = $("#nombreCat").val();
	if (idTorneoCat != 0) {
		var redirec = "noticias.php";
		$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria});
	}
});

$("#equipos").click(function() {
	var torneo = $("#torneo").val();
	var idTorneoCat = $("#idTorneoCat").val();
	var nombreCategoria = $("#nombreCat").val();
	if (idTorneoCat != 0) {
		var redirec = "equipos.php";
		$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria});
	}
});

$("#resultados").click(function() {
	var torneo = $("#torneo").val();
	var idTorneoCat = $("#idTorneoCat").val();
	var nombreCategoria = $("#nombreCat").val();
	if (idTorneoCat != 0) {
		var redirec = "resultados.php";
		$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria});
	}
});

$("#goleadoras").click(function() {
	var torneo = $("#torneo").val();
	var idTorneoCat = $("#idTorneoCat").val();
	var nombreCategoria = $("#nombreCat").val();
	if (idTorneoCat != 0) {
		var redirec = "goleadoras.php";
		$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria});
	}
});

$("#posiciones").click(function() {
	var torneo = $("#torneo").val();
	var idTorneoCat = $("#idTorneoCat").val();
	var nombreCategoria = $("#nombreCat").val();
	if (idTorneoCat != 0) {
		var redirec = "posiciones.php";
		$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria});
	}
});

$("#tarjetas").click(function() {
	var torneo = $("#torneo").val();
	var idTorneoCat = $("#idTorneoCat").val();
	var nombreCategoria = $("#nombreCat").val();
	if (idTorneoCat != 0) {
		var redirec = "tarjetas.php";
		$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria});
	}
});



</script>