<div class="section-torneos">
	<span class="ion-ios-people" style="color: {{ torneo.rgb }}"></span>
	<h2 style="color: {{ torneo.rgb }}">Equipos - {{ torneo.nombre }} - {{ nombreCategoria }}</h2>
</div>

  <div>
    <div class="row">
      <input type="hidden" value={{arrayEquipos}} id="arrayEquipos" name="arrayEquipos" />
	  {% for equipo in equipos %} 
	      <div class="col-lg-3 col-md-4 list_jugadoras">
	        <h4>{{equipo.nombre}}</h4>
	        {% if equipo.foto != null %}
	        	<img src="fotos_equipos/{{equipo.foto}}" style="border-color: {{torneo.rgb}}" width="165px" height="131px">
	        {% else %}
	        	<img src="imagenes/default_equipo.jpg" style="border-color: {{torneo.rgb}}">
	        {% endif %}
	       <button  type="button" class="btn btn-primary jugadoras" style="background-color: {{torneo.rgb}}" data-toggle="modal" data-target="#{{equipo.id}}">
	       <span class="ion-android-arrow-dropright"></span> Jugadoras</button>

	        <!--small modal -->
	              <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="{{equipo.id}}">
	                 <div class="modal-dialog modal-sm">
	                   <div class="modal-content">
	                        <div class="modal-header">
	                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                          <h5>{{equipo.nombre}}</h5>
	                        </div>
	                        <div class="modal-body">
	                          <ol>
	                          	{% for jugadora in equipo.jugadoras %} 
	                            	<li>{{jugadora.nombre}}</li>
	                            {% endfor %}
	                         </ol>
	                       </div>
	                       <div class="modal-footer">
	                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	                      </div>
	                   </div>
	                </div>
	              </div>
	        <!--fin smal modal -->
	      </div>
	  {% endfor %}
   </div>
  </div>
<!--ACA FINALIZA SECCION EQUIPOS-->

<script type="text/javascript">
$(document).on("ready",function(){	
	var arrayEquipos = $('#arrayEquipos');
	for (var i = 0; i < arrayEquipos.length; i++) { 
		var modalName = '#'+arrayEquipos[i]['id'];
		$(modalName).on('shown.bs.modal', function() {
			$('#myInput').focus()
		})
	}
});
</script>
