<!DOCTYPE html>
<html>
<head>
<title>Gambeta Femenina</title>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/media.css">
<link rel="stylesheet"
	href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:500,700'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/jquery.bxslider.css"/>
<script type="text/javascript" src="include/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="include/js/analyticstracking.js"></script>
<script type="text/javascript" src="include/js/bootstrap.min.js"></script>
<script type="text/javascript" src="include/js/jquery.bxslider.min.js"></script>


</head>
<body>
	<nav class="navbar navbar-default" id="navbar"></nav>
	<header>
		<div class="container">
			<div class="item-one">
				<h1>{{ noticia.titulo }}</h1>
				<h2>{{ noticia.subtitulo }}</h2><br>
				<p>{{ noticia.copete }}</p><br>

				<button class="read" type="button" class="btn btn-primary btn-lg"
					data-toggle="modal" data-target="#myModal">Leer Más</button>
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">{{ noticia.titulo }}</h4>
							</div>
							<div class="modal-body">
								<h3>{{ noticia.subitulo }}</h3>
								<h4>{{ noticia.subtitulo }}</h4>
								{{ noticia.desarrollo }}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<button class="inscription" type="button"
					class="btn btn-primary btn-lg" data-toggle="modal"
					data-target="#myModal2">Inscribite</button>
				<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">Inscribite</h4>
							</div>
							<div class="modal-body">
								<h3>Gambeta Femenina</h3>
								<div class="formulario-modal">
									<form>
										<input type="text" name="nombre" placeholder="Nombre" required>
										<input type="text" name="apellido" placeholder="Apellido"
											required> <input type="email"
											name="email" placeholder="Dirección de E-mail" required>
										<input type="number" name="telefono" placeholder="Teléfono"
											required>
										<div>
											<textarea placeholder="Escribí acá tu mensaje" required></textarea>
										</div>
										<input type="submit" class="enviar" value="Enviar Mensaje">
									</form>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item-two">
				<p>Ingresá tu Torneo</p>
				<div class="foot-ball">
					<span class="ion-ios-football-outline"></span>
				</div>
				<form>
					<select name="torneo" id="torneo">
						<option value="0">- Torneo -</option> 
						{% for torneo in torneos %}
							<option value="{{ torneo.id }}">{{ torneo.nombre }}</option> 
						{% endfor %}
					</select> 
					<select name="categoria" id="categoria">
						<option value="0">- Categoria -</option>
					</select>
				</form>
				<button id="entrar">Entrar</button>
			</div>
				<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modalError">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h5><span class="ion-android-alert"></span>  Importante</h5>
							</div>
							<div class="modal-body" style="text-align: center">
								Debe seleccionar un Torneo y una Categoría
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
			<div class="item-three">
				<p>Reservá tu horario</p>
				<select name="torneoIngreso" id="torneoIngreso">
					<option value="0">- Torneo -</option> 
					{% for torneo in torneos %}
						<option value="{{ torneo.id }}">{{ torneo.nombre }}</option> 
					{% endfor %}
				</select> 
				<select name="categoriaIngreso" id="categoriaIngreso">
					<option value="0">- Categoria -</option>
				</select>
				<select name="equipo" id="equipo">
					<option value="0">- Equipo -</option>
				</select>
				<input type="password" name="password" id="password" placeholder="Ingresá tu contraseña" />
				<button id="reservar">Reservar</button>
			</div>
			<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modalErrorIngreso">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h5><span class="ion-android-alert"></span>  Error de Ingreso</h5>
						</div>
						<div class="modal-body" style="text-align: center">
							Alguno de los datos de ingreso no son correctos, por favor verificalos
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
			</div>
		</div>


	<!-- comienzan auspiciantes !      -->

	<div class="container">
		<h3 class="auspiciante">- Auspiciantes -</h3>
		<ul class="bxslider">
		  <li><img src="imagenes/camisetadefutbol.jpg" /></li>
		  <li><img src="imagenes/privilige.jpg" /></li>
		  <li><img src="imagenes/africa.jpg"></li>
		  <li><img src="imagenes/sushi.jpg"></li>
		  <li><img src="imagenes/freire.jpg"></li>
		  <li><img src="imagenes/solofutbol.jpg"></li>
		  <li><img src="imagenes/aer.jpg"></li>
		</ul>
	</div>
</header>
	<!-- Fin container !-->
	<div class="box">
		<div class="container">
			<div class="section-form">
				<h3>Contactanos</h3>
				<h6>Dejanos tu consulta y te responderemos a la brevedad.
					Muchas gracias.</h6>
				<div class="box-form">
					<form>
						<p>Mensaje</p>
						<input type="text" name="nombre" placeholder="Nombre" required>
						<input type="text" name="apellido" placeholder="Apellido" required>
						<input type="email" name="email" placeholder="Dirección de E-mail"
							required> <input type="number" name="telefono"
							placeholder="Teléfono" required>
						<div>
							<textarea placeholder="Escribí acá tu mensaje" required></textarea>
						</div>
						<input type="submit" class="enviar" value="Enviar Mensaje">
					</form>
				</div>
			</div>

			<div class="section-locations">
				<h3>Sedes</h3>
				<h6>Muchas Gracias.</h6>
				<div class="box-form">
					<div class="sedes">
						<div>
							<button type="button" class="btn btn-primary btn-lg"
								data-toggle="modal" data-target="#myModalMap1">
								<h2>Costa Salguero</h2>
							</button>
							<div class="modal fade" id="myModalMap1" tabindex="-1"
								role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<h4 class="modal-title" id="myModalLabel">Costa Salguero</h4>
										</div>
										<div class="modal-body">
											<iframe
												src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26286.45196369172!2d-58.422199587524425!3d-34.558454478739854!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb512c9158371%3A0x96cde9a970434543!2sAv.+Costanera+Rafael+Obligado%2C+Cdad.+Aut%C3%B3noma+de+Buenos+Aires%2C+Argentina!5e0!3m2!1ses!2sus!4v1454370925939"
												width="100%" height="250" frameborder="0" style="border: 0"
												allowfullscreen></iframe>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<button type="button" class="btn btn-primary btn-lg"
								data-toggle="modal" data-target="#myModalMap2">
								<h2>Benavidez</h2>
							</button>
							<div class="modal fade" id="myModalMap2" tabindex="-1"
								role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<h4 class="modal-title" id="myModalLabel">Benavidez</h4>
										</div>
										<div class="modal-body">
											<iframe
												src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11435.105394187898!2d-58.69491800000001!3d-34.409872!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca1129356b343%3A0x3177b9c3445095f2!2sAv.+Benavidez+2400%2C+B1621HZV+Benavidez%2C+Buenos+Aires%2C+Argentina!5e1!3m2!1ses!2sus!4v1456885988056"
												width="100%" height="250" frameborder="0" style="border: 0"
												allowfullscreen></iframe>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<button type="button" class="btn btn-primary btn-lg"
								data-toggle="modal" data-target="#myModalMap3">
								<h2>Caballito Norte</h2>
							</button>
							<div class="modal fade" id="myModalMap3" tabindex="-1"
								role="dialog">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<h4 class="modal-title" id="myModalLabel">Caballito
												Norte</h4>
										</div>
										<div class="modal-body">
											<iframe
												src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.3913589604786!2d-58.45132543366745!3d-34.619549136627434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca22d1b46477%3A0x2b83578deb47f453!2sAv.+Avellaneda+1423%2C+C1405COB+CABA%2C+Argentina!5e0!3m2!1ses!2sus!4v1456886130832"
												width="100%" height="250" frameborder="0" style="border: 0"
												allowfullscreen></iframe>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- fin section-location -->
		</div>
		<!-- fin container -->
	</div>
	<!-- fin box -->
	<div class="box-social">
		<div class="container">
			<p>Seguinos también en</p>
			<div class="social">
				<ul>
					<li><a href="https://www.facebook.com/gambeta.femenina"
						target="_blank"><span class="ion-social-facebook"></span></a></li>
					<li><a href="https://twitter.com/GambetaFemenina"
						target="_blank"><span class="ion-social-twitter"></span></a></li>
					<li><a
						href="https://www.youtube.com/channel/UC6A5FHuBCrLxNPDszWIgnNA"
						target="_blank"><span class="ion-social-youtube"></span></a></li>
					<li><a href="https://www.instagram.com/gambetafemenina/"
						target="_blank"><span class="ion-social-instagram"></span></a></li>
				</ul>
			</div>
			<div class="box-logo">
				<img src="imagenes/logo.png">
			</div>
		</div>
	</div>

	<div class="box-actividades">
		<div class="container">
			<h2>Más actividades</h2>
			<div class="entrenamiento">
				<div class="box-entrenamiento">
					<img src="imagenes/training.png">
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#proximamente-entrenamiento">Entrar</button>
				</div>
				<div class="box-datos">
					<h3>Clases de Entrenamiento</h3>
					<p>Para estar lista y dejar todo en la cancha vení a entrenar.
						Para estar lista y dejar todo en la cancha vení a entrenar</p>
					<ul>
						<li><span class="ion-social-facebook"></span></li>
						<li><span class="ion-social-twitter"></span></li>
						<li><span class="ion-social-youtube"></span></li>
						<li><span class="ion-social-instagram"></span></li>
					</ul>
				</div>
			</div>
			<div class="arbitro">
				<div class="box-arbitro">
					<img src="imagenes/arbitro.png">
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#proximamente-arbitros">Entrar</button>
				</div>
				<div class="box-datos">
					<h3>Escuela de Arbitros</h3>
					<p>Para estar lista y dejar todo en la cancha vení a entrenar.
						Para estar lista y dejar todo en la cancha vení a entrenar</p>
					<ul>
						<li><span class="ion-social-facebook"></span></li>
						<li><span class="ion-social-twitter"></span></li>
						<li><span class="ion-social-youtube"></span></li>
						<li><span class="ion-social-instagram"></span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<!-- comienza modal proximamente entrenamiento!-->
<div class="modal fade" id="proximamente-entrenamiento" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
			<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title prox" id="myModalLabel"><span class="ion-ios-stopwatch-outline"></span>Proximamente</h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"data-dismiss="modal">Cerrar</button>
					</div>
			</div>
	</div>
</div>
<!-- fin modal proximamente entrenamiento !-->
<!-- comienda modal proximamente arbitros !-->
<div class="modal fade" id="proximamente-arbitros" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
			<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title prox" id="myModalLabel"><span class="ion-ios-stopwatch-outline"></span>Proximamente</h4>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"data-dismiss="modal">Cerrar</button>
					</div>
			</div>
	</div>
</div>
<!-- fin modal proximamente arbitros !-->

	<div class="sub-footer">
		<p>GAMBETA FEMENINA</p>
		<p>- Todos los derechos reservados - 2016</p>
	</div>
</body>

<script>
	$(document).on("ready", function() {

		$('.bxslider').bxSlider({
			  minSlides: 5,
			  maxSlides: 5,
			  slideWidth: 170,
			  slideMargin: 200,
			  ticker: true,
			  speed: 25000,
			  controls:false,
			});
		
		$("#navbar").load("include/html/navbar.html");
		
		$('#myModal2').on('shown.bs.modal', function() {
			$('#myInput').focus()
		})
		$('#myModalMap1').on('shown.bs.modal', function() {
			$('#myInput').focus()
		})
		$('#myModalMap2').on('shown.bs.modal', function() {
			$('#myInput').focus()
		})
		$('#myModalMap3').on('shown.bs.modal', function() {
			$('#myInput').focus()
		})
		$('#modalError').on('shown.bs.modal', function() {
			$('#myInput').focus()
		})
		$('#proximamente-entrenamiento').on('shown.bs.modal', function() {
			$('#myInput').focus()
		})
		$('#proximamente-arbitros').on('shown.bs.modal', function() {
			$('#myInput').focus()
		})
		$("#torneo").change(function() {
			$("#torneo option:selected").each(function() {
				idTorneo = $(this).val();
				$.post("categoria_data.php", {idTorneo : idTorneo}, function(data) {
					$("#categoria").html(data);
				});
			});
		});
			
		$("#torneoIngreso").change(function() {
			$("#torneoIngreso option:selected").each(function() {
				idTorneo = $(this).val();
				$.post("categoria_data.php", {idTorneo : idTorneo}, function(data) {
					$("#categoriaIngreso").html(data);
				});
			});
		});
			
		$("#categoriaIngreso").change(function() {
			$("#categoriaIngreso option:selected").each(function() {
				idTorneoCat = $(this).val();
				$.post("equipo_data.php", {idTorneoCat : idTorneoCat}, function(data) {
					$("#equipo").html(data);
				});
			});
		});

		$("#entrar").click(function() {
			var idTorneo = $("#torneo").val();
			var idTorneoCat = $("#categoria").val();
			if (idTorneo != 0) {			
				var form = document.createElement("form");
			    var element1 = document.createElement("input"); 
			    var element2 = document.createElement("input");  
			    form.method = "POST";
			    form.action = "torneos.php";   
			    element1.value=idTorneo;
			    element1.name="idTorneo";
			    form.appendChild(element1);  
			    element2.value=idTorneoCat;
			    element2.name="idTorneoCat";
			    form.appendChild(element2);
			    document.body.appendChild(form);
			    form.submit();	
			} else {
				$('#modalError').modal('show');
			}		
		})
		
		$("#reservar").click(function() {
			var idTorneo = $("#torneoIngreso").val();
			var idTorneoCat = $("#categoriaIngreso").val();
			var idEquipo = $("#equipo").val();
			var password = $("#password").val();
			if (idTorneo != 0 && idTorneoCat !=  0 && idEquipo != 0 && password != 0) {			
				var form = document.createElement("form");
			    var element1 = document.createElement("input"); 
			    var element2 = document.createElement("input");
			    var element3 = document.createElement("input");
			    var element4 = document.createElement("input");  
			    form.method = "POST";
			    form.action = "torneos.php";   
			    element1.value=idTorneo;
			    element1.name="idTorneo";
			    form.appendChild(element1);  
			    element2.value=idTorneoCat;
			    element2.name="idTorneoCat";
			    form.appendChild(element2);
			    element3.value=idEquipo;
			    element3.name="idEquipo";
			    form.appendChild(element3);
			    element4.value=password;
			    element4.name="password";
			    form.appendChild(element4);
			    document.body.appendChild(form);
			    form.submit();	
			} else {
				$('#modalErrorIngreso').modal('show');
			}		
		})
		
	}) // fin document.on"ready"

</script>

</html>
