<div class="section-torneos">
	<span class="ion-android-checkbox-outline" style="color: {{ torneo.rgb }}"></span>
	<h2 style="color: {{ torneo.rgb }}">Menu Reservas - {{ torneo.nombre }} - {{ nombreCategoria }}</h2>
</div>
<div class="section-torneos">
	<h3 style="color: {{ torneo.rgb }}">{{ equipo.nombre }}</h3>
	<button id="logout">Salir</button>
	{% if fecha_activa != null and idReserva == 0 and partidos == null and fecha_activa.puedeReservar %}
		<form id="carga_reserva" name="carga_reserva">
			<div>Horarios Disponibles</div>
			<input type="text" id="idFecha" name="idFecha" value="{{ fecha_activa.id }}"/>
			<div id="error" style="color:#CC3300"></div>
			{% if horas_fecha != null %}
				{% for horas in horas_fecha %}
					<input type='checkbox' id='horas' name='hora{{horas.id_horas_cancha}}' value='{{horas.id_horas_cancha}}' onclick='controlLibre()' /> {{horas.descripcion}}{{horas.id}}
				{% endfor %}
			{% endif %}
			{% if not fecha_libre %}
				<div>Fecha Libre <input type='checkbox' name='libre' id='libre' value='libre' onclick='controlHoras()'></input></div>
			{% else %}	
				<div>El equipo ya pidio fecha libre</div>
			{% endif %}
			<div><textarea name="observacion" id="observacion" placeholder="Observacion"></textarea></div>
		</form>
		<button id="guardarReserva">Reservar</button>
	{% else %}
		{% if fecha_activa == null %}
			<div>No hay fecha activa</div>
		{% else %}
			{% if partidos == null %}
				{% if reserva.fecha_libre == 1 %}
					<div>El equipo pidio Fecha Libre</div>
				{% else %}	
					{% if reserva.fecha_libre == 2 %}
						<div>La organizacion otorgo Fecha Libre</div>
					{% else %}	
						{% if detalleReserva != null %}
							<div>Horarios Pedidos</div>
							<ol>
							{% for detalle in detalleReserva %}
								<li>{{detalle.descripcion}}</li>
							{% endfor %}
							</ol>
							<div>Observación: {{ reserva.observacion }}</div>
						{% else %}
							{% if not fecha_activa.puedeReservar %}
								<div>Ha concluido el tiempo para poder realizar la preferencia horaria</div>
							{% else %}
								<div>ERROR AL GRABAR LA RESERVA.<BR>POR FAVOR COMUNIQUESE CON LA ORGANIZACION.</div>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% else %}
				<div>Confirmarción de Partido</div>
				{% for partido in partidos %}
					<div>{{ partido.equipo1 }} vs {{ partido.equipo2 }}</div>
					{% if partido.idEquipoTorneo1 == idsession %}
						{% if not partido.confirmado %}
							<button id="confirmar" onclick="confirmarPartido('{{ partido.id }}')">Confirmar Partido</button>
						{% else %}
							<div>Partido Confirmado</div>
						{% endif %}
					{% endif %}
					{% if partido.idEquipoTorneo2 == idsession %}
						{% if not partido.confirmado %}
							<button id="confirmar" onclick="confirmarPartido('{{ partido.id }}')">Confirmar Partido</button>
						{% else %}
							<div>Partido Confirmado</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endif %}
	{% endif %}
	
</div>


<script>

function confirmarPartido(idPartido) {
	var torneo = $("#torneo").val();
	var idTorneoCat = $("#idTorneoCat").val();
	var nombreCategoria = $("#nombreCat").val();
	var redirec = "reservasConfirmarPartido.php";
	$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria, idPartido: idPartido});
}

$("#logout").click(function() {
	var torneo = $("#torneo").val();
	var idTorneoCat = $("#idTorneoCat").val();
	var nombreCategoria = $("#nombreCat").val();
	var redirec = "reservasLogout.php";
	$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria});
});

$("#guardarReserva").click(function() {
	$('#error').html("");
	var libre = document.getElementById("libre");
	var grupo = document.getElementById("carga_reserva").horas;
	var control = false;
	var horas = new Array();
	var fechaLibre = 0;
	if (libre != null) {
		if (libre.checked) { 	
			control = true;
			fechaLibre = 1;
		} else {
			var controlCheck = 0;
			for (var i = 0; lcheck = grupo[i]; i++) {
				if (lcheck.checked) {
					horas[controlCheck] = lcheck.value;
					controlCheck++;
 				}
			}
			if (controlCheck < 4) {
				$('#error').html("* Debe seleccionar como mínimo 4 horas");
				control = false;
			} else {
				control = true;
			}
		}	
	} else {
		var controlCheck = 0;
		for (var i = 0; lcheck = grupo[i]; i++) {
			if (lcheck.checked) {
				controlCheck++;
			}
		}
		if (controlCheck < 4) {
			$('#error').html("* Debe seleccionar como mínimo 4 horas");
			control = false;
		} else {
			control = true;
		}
	}
	
	if (control) {
		var torneo = $("#torneo").val();
		var idTorneoCat = $("#idTorneoCat").val();
		var nombreCategoria = $("#nombreCat").val();
		var idFecha = $("#idFecha").val();
		var observacion = $("#observacion").val();
		if (idTorneoCat != 0) {
			var redirec = "reservasGuardar.php";
			$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria, horas: horas, fechaLibre: fechaLibre , idFecha: idFecha, observacion: observacion});
		}
	} 
});



function controlLibre() {
 	$('#error').html("");
	var grupo = document.getElementById("carga_reserva").horas;
	var controlCheck = 0;
	for (var i = 0; lcheck = grupo[i]; i++) {
        if (lcheck.checked) {
            controlCheck = 1;
        }
    }
	if (controlCheck == 1) {
		document.getElementById("libre").disabled = true;
	} else {
		document.getElementById("libre").disabled = false;
	}
}

function controlHoras() {
	$('#error').html("");
	var libre = document.getElementById("libre");
	var grupo = document.getElementById("carga_reserva").horas;
	var total = grupo.length;
	if (libre.checked) { 	
		if (total == null) {
			grupo.disabled = true;
		} else {
			for (var i = 0; lcheck = grupo[i]; i++) {
				lcheck.disabled = true;
			}
		}
	 } else {
	 	if (total == null) {
			grupo.disabled = false;
		} else {
			for (i = 0; lcheck = grupo[i]; i++) {
				lcheck.disabled = false;
			}
		}
	 }
}


</script>
