<div class="section-torneos">
	<span class="ion-android-checkbox-outline" style="color: {{ torneo.rgb }}"></span>
</div>
<div class="section-reservas">
	{% if acceso == "nok" %}
		<h3 style="color: red"><span class="ion-android-alert"></span> ERROR DE ACCESO </h3>
	{% endif %}
	<div class="item-reservas" style="background-color: {{ torneo.rgb }}">
		<p>Reserv&aacute tu horario</p>
		<div class="check">
			<span class="ion-android-checkbox-outline"></span>
		</div>
		<select name="equipoMobile" id="equipoMobile">
			<option value="0">- Equipo -</option>
			{% for equipo in equipos %} 
			 	<option value="{{equipo.id}}-{{equipo.idEquipoTorneo}}">{{equipo.nombre}}</option>
			{% endfor %}
		</select>
		<input type="password" name="passwordMobile" id="passwordMobile" placeholder="Ingres&aacute tu contrase&ntilde;a">
		<button id="reservarMobile">Reservar</button>
	</div>
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modalErrorIngresoMobile">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h5><span class="ion-android-alert"></span>  Error de Ingreso</h5>
				</div>
				<div class="modal-body" style="text-align: center">
					Alguno de los datos de ingreso no son correctos, por favor verificalos
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

$("#reservarMobile").click(function() {
	var torneo = $("#torneo").val();
	var idTorneoCat = $("#idTorneoCat").val();
	var nombreCategoria = $("#nombreCat").val();
	var idEquipo = $("#equipoMobile").val();
	var password = $("#passwordMobile").val();
	if (idTorneo != 0 && idTorneoCat !=  0 && idEquipo != 0 && password != 0) {			
		var redirec = 'controlIngreso.php';
		$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria, idEquipo: idEquipo, password: password});
		$("#reservasMobile").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria, idEquipo: idEquipo, password: password, screen: 'mobile'});
	} else {
		$('#modalErrorIngresoMobile').modal('show');
	}		
})

</script>