<div class="section-torneos">
	<span class="ion-android-checkbox-outline" style="color: {{ torneo.rgb }}"></span>
	<h2 style="color: {{ torneo.rgb }}">Menu Reservas - {{ torneo.nombre }} - {{ nombreCategoria }}</h2>
</div>
<div class="section-torneos">
	<h3 style="color: {{ torneo.rgb }}">{{ equipo.nombre }}</h3>
	<button class="salir" id="logout">Salir</button>
	{% if fecha_activa != null and idReserva == 0 and partidos == null and fecha_activa.puedeReservar %}
		<form id="carga_reserva" name="carga_reserva">
			 <h3 style="color: {{ torneo.rgb }}">{{ fecha_activa.nombre }}</h3>
			 <div class="texto-horarios">
        		<p>Horarios Disponibles</p>
        		<p class="seleccion-horarios" id="error"></p>
      		</div>
			<input type="hidden" id="idFecha" name="idFecha" value="{{ fecha_activa.id }}"/>
			<div class="container-checkbox"> 
				{% if horas_fecha != null %}
					{% for horas in horas_fecha %}
						 <div class="checkbox"><label><input type='checkbox' id='horas' name='hora{{horas.id_horas_cancha}}' value='{{horas.id_horas_cancha}}' onclick='controlLibre()' /> {{horas.descripcion}}{{horas.id}}</label></div>
					{% endfor %}
				{% endif %}
			</div>
			{% if fecha_libre == 0 %}
				{% set display = 'inherit' %}
			{% else %}	
				{% set display = 'none' %}
				<div class="texto-horarios">El equipo ya pidio fecha libre</div>
			{% endif %}
			<div class="fechaLibre checkbox"><label style="display: {{ display }} "><input type='checkbox' name='libre' id='libre' value='libre' onclick='controlHoras()' />Fecha Libre </label></div>
			<div class="observaciones"><textarea name="observacion" id="observacion" placeholder="Observacion"></textarea></div>
		</form>
		<div class="reservar"><button id="guardarReserva">Reservar</button></div>
	{% else %}
		{% if fecha_activa == null %}
			<div class="texto-reservas"><p>No hay Fecha Activa</p></div>
		{% else %}
			<div><h3 style="color: {{ torneo.rgb }}">{{ fecha_activa.nombre }}</h3></div>
			{% if partidos == null %}
				{% if reserva.fecha_libre == 1 %}
					<div class="texto-horarios">
						<p>El equipo pidio Fecha Libre</p>
						<p><b>Observacion:</b></p>
						<p>{{ reserva.observacion }}</p>
					</div>
				{% else %}	
					{% if reserva.fecha_libre == 2 %}
						<div class="texto-horarios"><p>La organizacion otorgo Fecha Libre</p></div>
					{% else %}	
						{% if detalleReserva != null %}
							<div class="texto-horarios">
								<p><b>Horarios Pedidos</b></p>
								{% for detalle in detalleReserva %}
									<p>{{detalle.descripcion}}</p>
								{% endfor %}
								<p><b>Observacion:</b></p>
								<p>{{ reserva.observacion }}</p>
							</div>
						{% else %}
							{% if not fecha_activa.puedeReservar %}
								<div class="texto-reservas">Ha concluido el tiempo para poder realizar la preferencia horaria</div>
							{% else %}
								<div class="texto-reservas">ERROR AL GRABAR LA RESERVA.<BR>POR FAVOR COMUNIQUESE CON LA ORGANIZACION.</div>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% else %}
				<h4>Confirmar de Partido</h4>
				<div class="row">
					<div class="col-lg-12">
						<table class="table" id="tablaFixture">
							<thead>
								<tr class='principal-table' style='background-color: {{torneo.rgb}}' >
									 <th><div class="ion-ios-location"></div></th>
						             <th><div class="ion-calendar"></div></th>
						             <th><div class="ion-android-time"></div></th>
						             <th><img src="imagenes/silbato.png"></div></th>
						             <th>Local</th>
						             <th>vs</th>
						             <th>Visitante</th>
						             <th><div class="ion-checkmark"></div></th>
								</tr>
							</thead>
							{% for partido in partidos %}
								<tr style='font-size: 16px'>
								  <td>{{ partido.sede }}</td>
								  <td>{{ partido.fechaPartido }}</td>
								  <td>{{ partido.horaPartido }}</td>
								  <td>{{ partido.arbitro }}</td>
								  <td>{{ partido.equipo1 }}</td>
								  <td>vs</td>
								  <td>{{ partido.equipo2 }}</td>
									{% if partido.idEquipoTorneo1 == idsession %}
										{% if not partido.confirmado %}
											<td><button id="confirmar" onclick="confirmarPartido('{{ partido.id }}')">Confirmar Partido</button></td>
										{% else %}
											<td><div class="ion-checkmark-circled"></div></td>
										{% endif %}
									{% endif %}
									{% if partido.idEquipoTorneo2 == idsession %}
										{% if not partido.confirmado %}
											<td><button id="confirmar" onclick="confirmarPartido('{{ partido.id }}')">Confirmar Partido</button></td>
										{% else %}
											<td><div class="ion-checkmark-circled"></div></td>
										{% endif %}
									{% endif %}
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			{% endif %}
		{% endif %}
	{% endif %}
	
</div>


<script>

function confirmarPartido(idPartido) {
	var torneo = $("#torneo").val();
	var idTorneoCat = $("#idTorneoCat").val();
	var nombreCategoria = $("#nombreCat").val();
	var redirec = "reservasConfirmarPartido.php";
	//$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria, idPartido: idPartido});
	$("#reservasDesktop").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria, idPartido: idPartido});
	var redirec = "reservas.php";
	$("#reservasMobile").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria, acceso: 'ok', screen: 'mobile'});
}

$("#logout").click(function() {
	var torneo = $("#torneo").val();
	var idTorneoCat = $("#idTorneoCat").val();
	var nombreCategoria = $("#nombreCat").val();
	var redirec = "reservasLogout.php";
	//$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria});
	$("#reservasDesktop").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria});
	var redirec = "reservas.php";
	$("#reservasMobile").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria, screen: 'mobile'});
});

$("#guardarReserva").click(function() {
	$('#error').html("");
	var libre = document.getElementById("libre");
	var grupo = document.getElementById("carga_reserva").horas;
	var control = false;
	var horas = new Array();
	var fechaLibre = 0;
	if (libre != null) {
		if (libre.checked) { 	
			control = true;
			fechaLibre = 1;
		} else {
			var controlCheck = 0;
			for (var i = 0; lcheck = grupo[i]; i++) {
				if (lcheck.checked) {
					horas[controlCheck] = lcheck.value;
					controlCheck++;
 				}
			}
			if (controlCheck < 4) {
				$('#error').html("* Debe seleccionar como minimo 4 horas");
				control = false;
			} else {
				control = true;
			}
		}	
	} else {
		var controlCheck = 0;
		for (var i = 0; lcheck = grupo[i]; i++) {
			if (lcheck.checked) {
				controlCheck++;
			}
		}
		if (controlCheck < 4) {
			$('#error').html("* Debe seleccionar como minimo 4 horas");
			control = false;
		} else {
			control = true;
		}
	}
	
	if (control) {
		var torneo = $("#torneo").val();
		var idTorneoCat = $("#idTorneoCat").val();
		var nombreCategoria = $("#nombreCat").val();
		var idFecha = $("#idFecha").val();
		var observacion = $("#observacion").val();
		if (idTorneoCat != 0) {
			var redirec = "reservasGuardar.php";
			//$("#container-2").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria, horas: horas, fechaLibre: fechaLibre , idFecha: idFecha, observacion: observacion});
			$("#reservasDesktop").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria, horas: horas, fechaLibre: fechaLibre , idFecha: idFecha, observacion: observacion});
			var redirec = "reservas.php";
			$("#reservasMobile").load(redirec, {torneo: torneo, idTorneoCat: idTorneoCat, nombreCategoria: nombreCategoria, acceso: 'ok', screen: 'mobile'});
		}
	} 
});



function controlLibre() {
 	$('#error').html("");
	var grupo = document.getElementById("carga_reserva").horas;
	var controlCheck = 0;
	for (var i = 0; lcheck = grupo[i]; i++) {
        if (lcheck.checked) {
            controlCheck = 1;
        }
    }
	if (controlCheck == 1) {
		document.getElementById("libre").disabled = true;
	} else {
		document.getElementById("libre").disabled = false;
	}
}	

function controlHoras() {
	$('#error').html("");
	var libre = document.getElementById("libre");
	var grupo = document.getElementById("carga_reserva").horas;
	var total = grupo.length;
	if (libre.checked) { 	
		if (total == null) {
			grupo.disabled = true;
		} else {
			for (var i = 0; lcheck = grupo[i]; i++) {
				lcheck.disabled = true;
			}
		}
	 } else {
		if (total == null) {
			grupo.disabled = false;
		} else {
			for (i = 0; lcheck = grupo[i]; i++) {
				lcheck.disabled = false;
			}
		}
	}
}


</script>
